/* archivo-regular - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/archivo-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/archivo-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/archivo-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/archivo-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/archivo-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/archivo-v18-latin-regular.svg#Archivo') format('svg'); /* Legacy iOS */
}
body {
  background: url(../img/bkg_2.jpg) no-repeat top center #8ac1d6;
  background-size: cover;
  font-family: 'Archivo';
  display: flex;
  flex-direction: column;

}

.img {
	width: 28vw;
	margin: 15px 15px 7px 15px;
}

.txt {
	margin: 15px 15px 30px 15px;
	font-size: 18px;
	width: 600px;
	line-height:150%

}

@media only screen and (max-width: 600px) {
  .img {
	height: 23vh;
	width: auto;
	margin: 15px 15px 7px 15px;
  }
  .txt {
	margin: 15px 15px 30px 15px;
	font-size: 18px;
	width: 90vw;
	line-height:150%
	}
}

